*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    background: #1f242d;
}
a{
    color:#fff ;
    text-decoration: none;
}
.navbar{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
     list-style: none;
     margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight:500 ;
    transition: .5s ;
}
.navbar ul li:hover a,
.navbar ul li.active a {
    color:#7cf03d ;
 } 
 .home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
 }
 .homeinfo h1{
    font-size: 55px;
 }
 .homeinfo h2{
    display: inline-block;
    font: size 33px ;
    margin-top: 10px;
    
 }
.homeinfo h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d ;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s*var(--i));
}
@keyframes display-text{
    25%,100%{
        display: none;
    }

}
.homeinfo h2 span ::before{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    border-right:2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes identifier {
    
}
 .homeinfo p{
    font-size: 16px;
    margin: 10px 0 25px;
 }
 .homeinfo .btn-sci{
    display:flex;
    align-items: center;
 }
 .btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow:0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d; 
    font-weight: 600;
    transition: .5s;
 }
 .btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
 }
 .homeinfo .btn-sci.sci {
    margin-left: 20px;
 }
 .homeinfo .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size:20px;
    color: #7cf03d;
    margin: 0 8px;
    transition:0.5s ;
 }
 .homeinfo .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d ;

 }
 .homeimg .imgbox{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center ;
    overflow: hidden;
}
.homeimg .imgbox::before,
.homeimg .imgbox::after {   
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background:conic-gradient(transparent,transparent,transparent,#7cf03d) ;
}

.homeimg .imgbox .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: 1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.homeimg .imgbox .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode:lighten ;

}
.page-section {
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-section h2 {
  font-size: 2.5rem;
  color: #00ffcc;
  margin-bottom: 1rem;
  margin: 35px;
}

.page-section p,
.page-section ul {
  font-size: 1.2rem;
  max-width: 800px;
}
ul {
  list-style: square;
  padding-left: 2rem;
  margin-top: 1rem;
  color: aliceblue;
  margin-left: 35px;

}
footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  color: #888;
  margin-top: 2rem;
}


